@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --color-espint-blue: #003366;
  --color-espint-green: #AACD46;
  --color-espint-magenta: #EB2891;
  --color-espint-gray: #F4F7FA;
  --color-espint-text: #1A1A1A;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* slate-300 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  /* slate-400 */
}